{% extends "base.html" %} {% block content %}

<p>
    <a href="/">Back to Home</a>
</p>
<h4>Test</h4>
<form action="/category/index" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <input type="text" name="title" class="form-control" /></div>
    <div class="form-group">
        <input type="text" name="desc" class="form-control" /></div>
    <div class="form-group">
        <input type="file" name="images" class="form-control" multiple="" /></div>
    <input type="submit" class="btn btn-primary" />
</form>
<div class="category">
    {% for category in categorys %}
    <h1> {{ category.name }} {{ category.title }} </h1>
    <p> {{ category.description }} {{ category.desc }} </p>
    {% for img in category.img %}
    <img src="/category/{{category._id}}/{{img}}" alt="{{img}} " height="150"> {% endfor %} {% endfor %}
</div>
{% endblock %}