{% extends "base.html" %} {% block content %}

<p>
    <a href="/">Back to Home</a>
</p>
<h4>Test</h4>
<form action="/category/post" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <input type="text" name="title" class="form-control" id="title" /></div>
    <div class="form-group">
        <input type="text" name="desc" class="form-control" /></div>
    <div class="form-group">
        <input type="file" name="images" class="form-control" multiple="" /></div>
    <input type="submit" class="btn btn-primary" />
</form>
<div class="category">
    <div class="row">
        {% for category in categorys %}
        <div class="col-lg-3">
            <h1> {{ category.name }} {{ category.title }} </h1>
            <p> {{ category.description }} {{ category.desc }} </p>
            <p>
                <button class="btn btn-danger delete_btn" data-id="{{category._id}}">DELETE</button>
                <button class="btn btn-primary update_btn" data-id="{{category._id}}">Update</button>
            </p>
            {% for img in category.img %}
            <img src="/category/{{category._id}}/{{img}}" alt="{{img}} " height="150"> {% endfor %}
        </div>{% endfor %}
    </div>

</div>
<script>
    function jajax(url, type, data) {
        return $.ajax({
            url: 'http://localhost:5000/' + url,
            contentType: "application/json; charset=utf-8",
            method: type,
            data: JSON.stringify(data)
        }).done(function (data) {
            console.log('SUCCEEEEEEED', data);
        }).fail(function (jqXHR, textStatus, err) {
            console.log('Error: ' + err);
        }).always(function () {
            console.log('ALWAYS ');
        });
    }


    $(document).ready(function () {
        $(".delete_btn").on("click", function () {
            id = $(this).attr('data-id');
            jajax('api/categorys/' + id, 'DELETE', { 'id': id }).then(function () {
                window.location.href = "/category";
            });
        })
        $(".update_btn").on("click", function () {
            id = $(this).attr('data-id');
            value = $("#title").val();
            jajax('api/categorys/' + id, 'PUT', { 'id': id, 'data': { title: value } })
        })

    });

</script>


{% endblock %}