{% extends "base.html" %} {% block content %}

<p>
    <a href="/">Back to Home</a>
</p>
<h4>Add User</h4>
<div class="row">
    <div class="col-md-6 order-md-1">
        <form class="form" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="username">Name</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="type" name="name" placeholder="FirstName lastName">
                </div>
            </div>
            <div class="mb-3">
                <label for="desc">Description</label>
                <div class="input-group">
                    <textarea col="3" rows="3" class="form-control" id="description" name="desc" placeholder="Description"></textarea>
                </div>
            </div>
            <div class="mb-3">
                <label for="contactNumber">Contact Number</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="contactNumber" name="contactNumber" placeholder="eg. 66645 23344">
                </div>
            </div>
            <div class="mb-3">
                <label for="anotherContactNumber">Another Contact Number</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="anotherContactNumber" name="anotherContactNumber"
                        placeholder="eg. 66645 55524">
                </div>
            </div>
            <div class="mb-3">
                <label for="address">Address</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                </div>
            </div>
            <div class="mb-3">
                <label for="landmark">Landmark</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="landmark" name="landmark" placeholder="eg. 66645 55524">
                </div>
            </div>
            <div class="mb-3">
                <label for="pin">Pin Code</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="pincode" name="pincode" placeholder="eg. 66645 55524">
                </div>
            </div>
            <div class="mb-3">
                <label for="pin">Choose from Map</label>
                <div class="input-group">
                    <button class="btn btn-danger location_address_btn">Locate Address</button>
                </div>
            </div>
            <div class="mb-3">
                <label for="images">Upload Pictures<span class="text-muted">(Optional)</span></label>
                <input type="file" id="images" name="images" class="form-control" multiple>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6"><button class="btn btn-primary create_btn" type="button">Submit</button></div>
            </div>
        </form>
    </div>

    <div class="col-md-6 order-md-1">
        <div class="designers">
            {% for designer in designers %}
            <div class="col-lg-6 mb-3">
                <h1> {{ designer.name }}</h1>
                <p> {{ designer.email }} </p>
                <p>
                    <button class="btn btn-danger delete_btn" data-id="{{designer._id}}">DELETE</button>
                    <button class="btn btn-primary update_btn" data-id="{{designer._id}}">Update</button>
                </p>
                {% for img in designer.img %}
                <img src="/designers/{{designer._id}}/{{img}}" alt="{{img}} " height="150"> {% endfor %}
            </div>{% endfor %}
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $(".create_btn").on("click", function () {
            jajax('api/designers/', 'POST', {}, '.form').then(function () {
                window.location.href = "/designers";
            });
        })
        $(".delete_btn").on("click", function () {
            id = $(this).attr('data-id');
            alert(id)
            jajax('api/designers/' + id, 'DELETE', {
                'id': id
            }).then(function () {
                window.location.href = "/designers/";
            });
        })
        $(".update_btn").on("click", function () {
            id = $(this).attr('data-id');
            value = $("#type").val();
            jajax('api/designers/' + id, 'PUT', {
                'id': id,
                'data': {
                    type: value
                }
            })
        })

    });
</script>


{% endblock %}