{% extends "base.html" %} {% block content %}
 
<h4>All Products</h4>
<div class="row">

    <div class="col-md-6 order-md-1">
        <div class="products">
            {% for product in products %}
            <div class="col-lg-6 mb-3">
                <h1> {{ product.type }}</h1>
                <p> {{ product.desc }} </p>
                <p>
                    <button class="btn btn-danger delete_btn" data-id="{{product._id}}">DELETE</button>
                    <button class="btn btn-primary update_btn" data-id="{{product._id}}">Update</button>
                </p>
                {% for img in product.img %}
                <img src="/products/{{product._id}}/{{img}}" alt="{{img}} " height="150"> {% endfor %}
            </div>{% endfor %}
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
         
    });

</script>


{% endblock %}