<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TODO</title>
</head>

<body>
    <h4>Category</h4>
    <form action="/category" method="POST">
        <input type="text" name="name" />
        <input type="text" name="description" />
        <input type="submit" />
    </form>

    {% for category in categorys %}
    <h1> {{ category.name }} </h1>
    <p> {{ category.description }} </p>
    {% endfor %}


    <h4>FRONT VIEW TYPES</h4>
    <form action="/frontviewtype" method="POST">
        <select name="category">
            {% for t in frontTypes %}
            <option value="{{ t._id }}">{{ t.name }}</option>
            {% endfor %}
        </select>
        <input type="text" name="name" />
        <input type="text" name="description" />
        <input type="submit" />
    </form>


    {% for frontType in frontTypes %}
    <h1> {{ frontType.name }} </h1>
    <p> {{ frontType.description }} </p>
    {% endfor %}
</body>

</html>